body {
	background-color: #eaece5;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
}

/*-----------------------------------------------------------------
* Bar de navigation
*-----------------------------------------------------------------*/

#main-nav-bar {
	color: black;
	position: fixed;
	height: 50px;
	top: 0;
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: white;
	box-shadow: 0px 5px 20px black;
	z-index: 999;
}

#main-nb-item-list {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	height: auto;
	list-style: none;
	padding: 0;
	margin: 0;
}

.nb-item-select a {
	text-transform: uppercase;
	color: black;
	text-decoration: none;
	font-family: 'Times New Roman', Times, serif
}

.nb-item-select {
	margin: 1%;
	padding: 0;
	height: auto;
	width: auto;
}

.nb-item {
	margin: 1%;
	padding: 0;
	height: auto;
	width: auto;
}

.nb-item a {
	text-transform: uppercase;
	color: gray;
	text-decoration: none;
	font-family: 'Times New Roman', Times, serif
}

.nb-item a:hover {
	color: black;
}

.nb-item-btn {
	margin: 1%;
	height: auto;
	width: auto;
	height: auto;
	padding: 0;
	background-color: #ff7b25;
}

/*----Cible les medias de taille inférieur a 768px soit tablet, smartphone----*/

@media only screen and (max-width: 768px) {
	
	#main-nav-bar {
		padding: 1%;
	}
}

/*-----------------------------------------------------------------
* Entête principal
*-----------------------------------------------------------------*/

#main-header {
	display: grid;
	top: 80px;
	grid-template-columns: 20% auto 20%;
	grid-template-rows: 1fr 100px 50px 1fr;
	width: 100%;
	height: auto;
}

#simple-header {
	top: 80px;
	display: grid;
	grid-template-columns: 20% auto 20%;
	grid-template-rows: 4fr auto 1fr;
	width: 100%;
	height: auto;
}

#simple-header h2 {
	position: relative;
	grid-column: 2;
	grid-row: 2;
	margin: 0;
	color: white;
	font-size: 2em;
	text-align: center;
	text-shadow: 0px 0px 10px black;
	font-family: 'Times New Roman', Times, serif;
	font-weight: normal;
}

#simple-header img {
	grid-column: 1 / span 3;
	grid-row: 1 / span 3;
}

#main-h-background {
	grid-column: 1 / span 3;
	grid-row: 1 / span 5;
	width: 100%;
	height: auto;
}

#main-h-background img {
	width: 100%;
	height: auto;
}

#main-h-title {
	position: relative;
	grid-column: 2;
	grid-row: 2;
	color: white;
	text-transform: uppercase;
	font-size: 3em;
	text-align: center;
	text-shadow: 0px 0px 10px black;
	font-family: 'Times New Roman', Times, serif;
}

#main-h-item-container {
	grid-column: 2;
	grid-row: 3;
	display: flex;
	justify-content: center;
}

#main-h-item-container h1 {
	font-size: 9em;
}

#main-h-item-container form {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.container_title h1 {
	text-align: center;
}

/*----Cible les medias de taille inférieur a 768px soit tablet, smartphone----*/

@media only screen and (max-width: 768px) {

	#main-h-title {
		font-size: 2em;
	}
}

/*----Cible les medias de taille inférieur a 425px smartphone (taille L)----*/

@media only screen and (max-width: 425px) {

	#main-header {
		display: grid;
		grid-template-columns: 5% auto 5%;
		grid-template-rows: 3fr 40px 35px 1fr;
	}

	#simple-header {
		display: grid;
		grid-template-columns: 5% auto 5%;
		grid-template-rows: 4fr auto 1fr;
	}
	
	#main-h-title {
		font-size: 1em;
	}
}

/*-----------------------------------------------------------------
* Pied de page
*----------------------------------------------------------------*/

footer {
	position: relative;
	width: auto;
	height: auto;
	padding: 2%;
	background-color: rgb(43, 43, 43);
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr auto;
}

#footer-page-list {
	grid-column: 1;
	grid-row: 1;
	padding: 0.5%;
}

#footer-page-list ul {
	color: white;
}

.footer-item {
	color: gray;
	text-decoration: none;
}

.footer-item:hover {
	color: white;
}

.footer-item-select {
	color: white;
	text-decoration: none;
}

#footer-page-contact {
	grid-column: 2;
	grid-row: 1;
	padding: 0.5%;
	border-left: 1px solid white;
}

#footer-page-contact ul {
	color: gray;
	list-style: none;
}

.footer-title h3 {
	color: white;
	padding-left: 2.5%;
	margin: 2% 0%;
}

#footer-credit {
	grid-column: 1 / span 2;
	grid-row: 2;
}

#footer-credit p {
	text-align: center;
	padding: 0%;
	color: gray;
	font-size: 0.9em;
	margin: 0%;
}

#footer-credit p a {
	color: white;
}

#footer-credit p a:hover {
	color: red;
}

/*-----------------------------------------------------------------
* Container des chambres
*----------------------------------------------------------------*/

.bedroom-item-list {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	padding: 0;
}

.bedroom-item {
	width: 40%;
	height: auto;
	margin: 1%;
}

.bedroom-item a {
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	background-color: #b2c2bf;
	text-decoration: none;
	color: black;
}

.bedroom-item:hover {
	box-shadow: 5px 5px 15px;
}

.bedroom-item h1 {
	color: white;
	text-transform: uppercase;
}

.bedroom-item img {
	width: 100%;
	height: auto;
}

section {
	margin: 5% 9%;
	padding: 1%;
	background-color: white;
	box-shadow: 1px 1px 15px;
}

.section-stretch {
	margin: 2% 1%;
	box-shadow: 0px 5px 15px;
}

.section-title {
	margin: 1% 0%;
	padding: 1%;
	text-align: center;
	border-bottom: 2px solid #ff7b25;
	text-transform: uppercase;
}

.small-gallery-img {
	display: flex;
	flex-wrap: wrap;
}

.small-gallery-img img {
	width: 20%;
	height: 20%;
}

.gallery-container {
	display: flex;
	flex-direction: column;
	height: auto;
	width: auto;
}

.gallery-title {
	width: auto;
	margin: 0.5%;
	text-align: center;
	border-bottom: 1px solid black;
}

/*------------------------------------------------------------------------------
* Paneau de contacte
------------------------------------------------------------------------------*/

.contact-panel {
	display: grid;
	grid-template-columns: 35% auto;
	grid-template-rows: auto;
	margin: 2.5%;
}

.contact-left-panel {
	grid-column: 1;
	grid-row: 1;
}

.contact-left-panel ul {
	list-style: none;
}

.contact-left-panel div {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 3%;
}

.contact-rigth-panel {
	grid-column: 2;
	grid-row: 1;
	padding: 2.5%;
	border-left: 1px solid gray;
}

.contact-rigth-panel form {
	display: flex;
	flex-direction: column;
}

.contact-map {
	width: 100%;
	height: auto;
	border-radius: 5px;
	border: 2px solid gray;
}

.contact-msg-input {
	height: 100px;
}

/*----Cible les medias de taille inférieur a 768px soit tablet, smartphone----*/

@media only screen and (max-width: 768px) {

	.contact-panel {
		display: flex;
		flex-direction: column;
	}

	.contact-rigth-panel {
		border-top: 1px solid black;
		border-left: none;
	}
}

/*-----------------------------------------------------------------------------
* Fournie quelque class pour la personalisation des formulaires.
*-----------------------------------------------------------------------------*/

form p {
	color: red;
	font-style: italic;
}

input[type=text] {
	background-color: white;
	border: 0.5px solid gray;
	border-radius: 5px;
	text-align: center;
}

input[type=email] {
	background-color: white;
	border: 0.5px solid gray;
	border-radius: 5px;
}

input[type=submit] {
	margin-top: 3.5%;
}

/*-----------------------------------------------------------------------------
* Fournie quelque class pour la personalisation de lien.
*-----------------------------------------------------------------------------*/

.orange-btn {
	padding: 2%;
	border: 2px solid #ff7b25;
	background-color: white;
	text-decoration: none;
	text-align: center;
	color: #ff7b25;
}

.orange-btn-small {
	width: 30%;
}

.orange-btn:hover {
	background-color: #ff7b25;
	color: white;
}

/*-----------------------------------------------------------------------------
* Permet de faire des vitrine
*-----------------------------------------------------------------------------*/

.showcase-container {
	margin: 2%;
	height: auto;
}

.showcase-container-main-bar {
	border-top: 1px solid #ff7b25;
	padding-top: 1%;
	display: grid;
	grid-template-columns: 70% 30%;
	grid-template-rows: auto;
}

.showcase-container-main-bar h1 {
	grid-column: 1;
	grid-row: 1;
	margin: auto;
	text-transform: uppercase;
}

.showcase-container-main-bar a {
	grid-column: 2;
	grid-row: 1;
}

.showcase-container h3 {
	text-align: left;
	width: 100%;
	padding-left: 5%;
}

.showcase-item-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: wrap;
	height: auto;
}

.showcase-item {
	width: 30%;
	height: auto;
	margin: 1%;
	text-align: center;
	background-color: white;
}

.showcase-item a h2 {
	height: 20%;
}

.showcase-item a {
	text-decoration: none;
	color: black;
}

.showcase-item-selectable:hover {
	box-shadow: 0px 0px 20px -11px black;
}

.showcase-img {
	width: 100%;
	height: auto;
}

/*----Cible les medias de taille inférieur a 425px (smartphone de taille L)----*/

@media only screen and (max-width: 425px) {
	
	.showcase-item-container {
		flex-direction: column;
	}

	.showcase-item {
		width: 100%;
		margin: 0%;
	}

	.showcase-container {
		height: auto;
		margin: 2% 0%;
	}
}

/*-----------------------------------------------------------------------------
* Conteneur vertical, permet de crée un affichage vertical avec une
* image et une description. Le tous peut être inverser.
*-----------------------------------------------------------------------------*/

.vertical-container {
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1fr;
	margin: 2%;
}

.vertical-container-description {
	padding: 1.5%;
}

.vertical-container-description h1 {
	text-align: center;
	width: auto;
	text-transform: uppercase;
}

.vertical-container-description div {
	width: auto;
	height: auto;
	display: flex;
	justify-content: center;
}

.vertical-container-first-item-reverse {
	width: 100%;
	height: auto;
	grid-column: 2;
	grid-row: 1;
}

.vertical-container-second-item-reverse {
	grid-column: 1;
	grid-row: 1;
}

.vertical-container-first-item {
	width: 100%;
	height: auto;
	grid-column: 1;
	grid-row: 1;
}

.vertical-container-second-item {
	grid-column: 2;
	grid-row: 1;
}

/*----Cible les medias de taille inférieur a 768px soit tablet, smartphone----*/

@media only screen and (max-width: 768px) {

	.vertical-container {
		grid-template-columns: auto;
		grid-template-rows: 1fr auto;
	}

	.vertical-container-first-item-reverse {
		grid-column: 1;
		grid-row: 1;
	}

	.vertical-container-second-item-reverse {
		grid-column: 1;
		grid-row: 2;
	}

	.vertical-container-first-item {
		grid-column: 1;
		grid-row: 1;
	}

	.vertical-container-second-item {
		grid-column: 1;
		grid-row: 2;
	}
}